.chatContainer{

    .react-chatbot-kit-chat-container{
        width: 100%;
        height:  97svh;
        background-color: #fcfcfc;
      
    }

    .react-chatbot-kit-chat-message-container{
        height:  624px;
    }

    .react-chatbot-kit-chat-bot-message{
        margin: 0;
        width: max-content;
        max-width: 80%;
    }

    .react-chatbot-kit-user-chat-message{
        max-width: 80%;

    }

}